<a href="https://colab.research.google.com/github/Musaveer39/PySpark/blob/main/PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Linux Basics

In [ ]:
!ls

sample_data

In [ ]:
!cat /etc/os-release

PRETTY_NAME="Ubuntu 22.04.4 LTS"
NAME="Ubuntu"
VERSION_ID="22.04"
VERSION="22.04.4 LTS (Jammy Jellyfish)"
VERSION_CODENAME=jammy
ID=ubuntu
ID_LIKE=debian
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://www.ubuntu.com/legal/terms-and-policies/privacy-policy"
UBUNTU_CODENAME=jammy

In [ ]:
!uname -a

Linux 6405b0515fab 6.1.123+ #1 SMP PREEMPT_DYNAMIC Sun Mar 30 16:01:29 UTC 2025 x86_64 x86_64 x86_64 GNU/Linux

## PySpark Basic

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark =  SparkSession.builder.appName('Basics').getOrCreate()

In [ ]:
data = [("Hello","World")]
columns = ["Word1","Word2"]
df = spark.createDataFrame(data,columns)

In [ ]:
df.show()

+-----+-----+
|Word1|Word2|
+-----+-----+
|Hello|World|
+-----+-----+

## Basic Transformation and Actions

In [ ]:
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob", "IT", 4500)
]
columns = ["Name", "Department", "Salary"]
df = spark.createDataFrame(data, columns)
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
df_filtered = df.filter(df.Salary > 3500)
df_filtered.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| Jane|   Finance|  4000|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
#Grouped and Aggregates
df_grouped = df.groupBy("Department").avg("Salary")
df_grouped.show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [ ]:
# Add new column: Salary with bonus (10%)
df_bonus = df.withColumn("Salary_With_Bonus", df.Salary * 1.1)
df_bonus.show()

+-----+----------+------+------------------+
| Name|Department|Salary| Salary_With_Bonus|
+-----+----------+------+------------------+
| John|     Sales|  3000|3300.0000000000005|
| Jane|   Finance|  4000|            4400.0|
| Mike|     Sales|  3500|3850.0000000000005|
|Alice|   Finance|  3800|            4180.0|
|  Bob|        IT|  4500|            4950.0|
+-----+----------+------+------------------+

In [ ]:
from pyspark.sql.functions import col,upper,lower,concat_ws,when,length
df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
# Changes case transformations
df_upper  = df.withColumn("Name_Upper",upper(col("Name")))
df_lower  = df.withColumn("Name_Lower",lower(col("Name")))
df_upper.show()
df_lower.show()

+-----+----------+------+----------+
| Name|Department|Salary|Name_Upper|
+-----+----------+------+----------+
| John|     Sales|  3000|      JOHN|
| Jane|   Finance|  4000|      JANE|
| Mike|     Sales|  3500|      MIKE|
|Alice|   Finance|  3800|     ALICE|
|  Bob|        IT|  4500|       BOB|
+-----+----------+------+----------+

+-----+----------+------+----------+
| Name|Department|Salary|Name_Lower|
+-----+----------+------+----------+
| John|     Sales|  3000|      john|
| Jane|   Finance|  4000|      jane|
| Mike|     Sales|  3500|      mike|
|Alice|   Finance|  3800|     alice|
|  Bob|        IT|  4500|       bob|
+-----+----------+------+----------+

In [ ]:
# Concatenate columns
df_concat =df.withColumn("Name_Department",concat_ws(" - ","Name","Department"))
df_concat.show()

+-----+----------+------+---------------+
| Name|Department|Salary|Name_Department|
+-----+----------+------+---------------+
| John|     Sales|  3000|   John - Sales|
| Jane|   Finance|  4000| Jane - Finance|
| Mike|     Sales|  3500|   Mike - Sales|
|Alice|   Finance|  3800|Alice - Finance|
|  Bob|        IT|  4500|       Bob - IT|
+-----+----------+------+---------------+

In [ ]:
df_lenth = df.withColumn("Name_Length",length(col("Name")))
df_lenth.show()

+-----+----------+------+-----------+
| Name|Department|Salary|Name_Length|
+-----+----------+------+-----------+
| John|     Sales|  3000|          4|
| Jane|   Finance|  4000|          4|
| Mike|     Sales|  3500|          4|
|Alice|   Finance|  3800|          5|
|  Bob|        IT|  4500|          3|
+-----+----------+------+-----------+

In [ ]:
# Conditional Column (Salary Category)
df_conditional = df.withColumn("Salary Category",when(col("Salary") >= 4000,"High")
                  .when(col("Salary") >= 3500,"Med").otherwise("Low"))
df_conditional.show()

+-----+----------+------+---------------+
| Name|Department|Salary|Salary Category|
+-----+----------+------+---------------+
| John|     Sales|  3000|            Low|
| Jane|   Finance|  4000|           High|
| Mike|     Sales|  3500|            Med|
|Alice|   Finance|  3800|            Med|
|  Bob|        IT|  4500|           High|
+-----+----------+------+---------------+

In [ ]:
df_renamed = df_conditional.withColumnRenamed("Salary","Base Salary")
df_renamed.show()

+-----+----------+-----------+---------------+
| Name|Department|Base Salary|Salary Category|
+-----+----------+-----------+---------------+
| John|     Sales|       3000|            Low|
| Jane|   Finance|       4000|           High|
| Mike|     Sales|       3500|            Med|
|Alice|   Finance|       3800|            Med|
|  Bob|        IT|       4500|           High|
+-----+----------+-----------+---------------+

## Advanced Transformations

In [ ]:
from pyspark.sql import SparkSession
spark =SparkSession.builder.appName("Basics").getOrCreate()
columns = ["Name","Department","Salary"]
data = [
    ("John", "Sales", 3000),
    ("Jane", "Finance", 4000),
    ("Mike", "Sales", 3500),
    ("Alice", "Finance", 3800),
    ("Bob", "IT", 4500)
]

df = spark.createDataFrame(data, columns)

df.show()

+-----+----------+------+
| Name|Department|Salary|
+-----+----------+------+
| John|     Sales|  3000|
| Jane|   Finance|  4000|
| Mike|     Sales|  3500|
|Alice|   Finance|  3800|
|  Bob|        IT|  4500|
+-----+----------+------+

In [ ]:
# Count by Department
df_count =  df.groupBy("Department").count()
df_count.show()

+----------+-----+
|Department|count|
+----------+-----+
|     Sales|    2|
|   Finance|    2|
|        IT|    1|
+----------+-----+

In [ ]:
# Group by Department and calculate average salary
df.groupBy("Department").avg("Salary").show()

+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3250.0|
|   Finance|     3900.0|
|        IT|     4500.0|
+----------+-----------+

In [ ]:
# Group by Department and calculate multiple aggregations
df.groupBy("Department").agg({"Salary": "sum", "Salary": "max","Salary":'min'}).show()

+----------+-----------+
|Department|min(Salary)|
+----------+-----------+
|     Sales|       3000|
|   Finance|       3800|
|        IT|       4500|
+----------+-----------+

In [ ]:
from pyspark.sql import functions as f
df.groupBy('Department').agg(f.avg('Salary'),f.max('Salary'),f.min('Salary')).show()

+----------+-----------+-----------+-----------+
|Department|avg(Salary)|max(Salary)|min(Salary)|
+----------+-----------+-----------+-----------+
|     Sales|     3250.0|       3500|       3000|
|   Finance|     3900.0|       4000|       3800|
|        IT|     4500.0|       4500|       4500|
+----------+-----------+-----------+-----------+

In [ ]:
# Create another DataFrame for department info
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C")
]
dept_columns = ["Department", "Location"]

In [ ]:
dept_df = spark.createDataFrame(dept_data, dept_columns)
joined_df = df.join(dept_df, on='Department', how='inner')
joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|   Finance| Jane|  4000|Building B|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
|     Sales| John|  3000|Building A|
|     Sales| Mike|  3500|Building A|
+----------+-----+------+----------+

In [ ]:
# Left join
left_joined_df = df.join(dept_df, on='Department', how='left')
left_joined_df.show()

+----------+-----+------+----------+
|Department| Name|Salary|  Location|
+----------+-----+------+----------+
|     Sales| John|  3000|Building A|
|   Finance| Jane|  4000|Building B|
|     Sales| Mike|  3500|Building A|
|   Finance|Alice|  3800|Building B|
|        IT|  Bob|  4500|Building C|
+----------+-----+------+----------+

In [ ]:
# Employee DataFrame
emp_data = [
    (1, "John", "Sales", 3000),
    (2, "Jane", "Finance", 4000),
    (3, "Mike", "Sales", 3500),
    (4, "Alice", "HR", 3800),
    (5, "Bob", "IT", 4500),
    (6, "Sam", "Support", 3200)
]
emp_cols = ["EmpID", "Name", "Department", "Salary"]
emp_df = spark.createDataFrame(emp_data, emp_cols)

# Department DataFrame
dept_data = [
    ("Sales", "Building A"),
    ("Finance", "Building B"),
    ("IT", "Building C"),
    ("Admin", "Building D")
]
dept_cols = ["Department", "Location"]
dept_df = spark.createDataFrame(dept_data, dept_cols)

# Display both
emp_df.show()
dept_df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1| John|     Sales|  3000|
|    2| Jane|   Finance|  4000|
|    3| Mike|     Sales|  3500|
|    4|Alice|        HR|  3800|
|    5|  Bob|        IT|  4500|
|    6|  Sam|   Support|  3200|
+-----+-----+----------+------+

+----------+----------+
|Department|  Location|
+----------+----------+
|     Sales|Building A|
|   Finance|Building B|
|        IT|Building C|
|     Admin|Building D|
+----------+----------+

In [ ]:
#Full outer join
full_df = emp_df.join(dept_df, on='Department', how='full')
full_df.show()

+----------+-----+-----+------+----------+
|Department|EmpID| Name|Salary|  Location|
+----------+-----+-----+------+----------+
|     Admin| NULL| NULL|  NULL|Building D|
|   Finance|    2| Jane|  4000|Building B|
|        HR|    4|Alice|  3800|      NULL|
|        IT|    5|  Bob|  4500|Building C|
|     Sales|    1| John|  3000|Building A|
|     Sales|    3| Mike|  3500|Building A|
|   Support|    6|  Sam|  3200|      NULL|
+----------+-----+-----+------+----------+

## Advanced DataFrame Operations

# Window Functions

In [ ]:
# Window Functions
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("AdvancedOps").getOrCreate()

data = [
    (1, "Alice", 2000, ["math", "science"], {"city": "NYC", "zip": "10001"}),
    (2, "Bob", 1500, ["english"], {"city": "SF", "zip": "94105"}),
    (3, "Charlie", 2200, ["math", "history", "science"], {"city": "NYC", "zip": "10001"}),
    (4, "David", 1200, ["art"], {"city": "LA", "zip": "90001"}),
]

df = spark.createDataFrame(data, schema=["id", "name", "salary", "subjects", "address"])
df.show(truncate=False)

+---+-------+------+------------------------+---------------------------+
|id |name   |salary|subjects                |address                    |
+---+-------+------+------------------------+---------------------------+
|1  |Alice  |2000  |[math, science]         |{zip -> 10001, city -> NYC}|
|2  |Bob    |1500  |[english]               |{zip -> 94105, city -> SF} |
|3  |Charlie|2200  |[math, history, science]|{zip -> 10001, city -> NYC}|
|4  |David  |1200  |[art]                   |{zip -> 90001, city -> LA} |
+---+-------+------+------------------------+---------------------------+

In [ ]:
from pyspark.sql.window import Window
window_spec = Window.partitionBy("address.city").orderBy("salary")
df.withColumn('rank' ,rank().over(window_spec)).show()

+---+-------+------+--------------------+--------------------+----+
| id|   name|salary|            subjects|             address|rank|
+---+-------+------+--------------------+--------------------+----+
|  4|  David|  1200|               [art]|{zip -> 90001, ci...|   1|
|  1|  Alice|  2000|     [math, science]|{zip -> 10001, ci...|   1|
|  3|Charlie|  2200|[math, history, s...|{zip -> 10001, ci...|   2|
|  2|    Bob|  1500|           [english]|{zip -> 94105, ci...|   1|
+---+-------+------+--------------------+--------------------+----+

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import col, row_number, rank, dense_rank, max, sum, avg

# Employee Data
data = [
    (1, "John", "Sales", 3000),
    (2, "Jane", "Finance", 4000),
    (3, "Mike", "Sales", 3500),
    (4, "Alice", "Finance", 3800),
    (5, "Bob", "IT", 4500),
    (6, "Tom", "Sales", 3700),
    (7, "Jerry", "Finance", 4200),
    (8, "Sam", "IT", 4700),
    (9, "Steve", "Sales", 3100),
    (10, "Rachel", "IT", 4600)
]
columns = ["EmpID", "Name", "Department", "Salary"]
df = spark.createDataFrame(data, columns)

df.show()

+-----+------+----------+------+
|EmpID|  Name|Department|Salary|
+-----+------+----------+------+
|    1|  John|     Sales|  3000|
|    2|  Jane|   Finance|  4000|
|    3|  Mike|     Sales|  3500|
|    4| Alice|   Finance|  3800|
|    5|   Bob|        IT|  4500|
|    6|   Tom|     Sales|  3700|
|    7| Jerry|   Finance|  4200|
|    8|   Sam|        IT|  4700|
|    9| Steve|     Sales|  3100|
|   10|Rachel|        IT|  4600|
+-----+------+----------+------+

In [ ]:
window_spec = Window.partitionBy("Department").orderBy(col('Salary').desc())
df.withColumn("Rank",rank().over(window_spec)).show()

+-----+------+----------+------+----+
|EmpID|  Name|Department|Salary|Rank|
+-----+------+----------+------+----+
|    7| Jerry|   Finance|  4200|   1|
|    2|  Jane|   Finance|  4000|   2|
|    4| Alice|   Finance|  3800|   3|
|    8|   Sam|        IT|  4700|   1|
|   10|Rachel|        IT|  4600|   2|
|    5|   Bob|        IT|  4500|   3|
|    6|   Tom|     Sales|  3700|   1|
|    3|  Mike|     Sales|  3500|   2|
|    9| Steve|     Sales|  3100|   3|
|    1|  John|     Sales|  3000|   4|
+-----+------+----------+------+----+

In [ ]:
window_spec =  Window.partitionBy('Department')
df.withColumn('Max Salary',max('Salary').over(window_spec)).show()

+-----+------+----------+------+----------+
|EmpID|  Name|Department|Salary|Max Salary|
+-----+------+----------+------+----------+
|    2|  Jane|   Finance|  4000|      4200|
|    4| Alice|   Finance|  3800|      4200|
|    7| Jerry|   Finance|  4200|      4200|
|    5|   Bob|        IT|  4500|      4700|
|    8|   Sam|        IT|  4700|      4700|
|   10|Rachel|        IT|  4600|      4700|
|    1|  John|     Sales|  3000|      3700|
|    3|  Mike|     Sales|  3500|      3700|
|    6|   Tom|     Sales|  3700|      3700|
|    9| Steve|     Sales|  3100|      3700|
+-----+------+----------+------+----------+

In [ ]:
df.groupBy('Department').max('Salary').show()

+----------+-----------+
|Department|max(Salary)|
+----------+-----------+
|     Sales|       3700|
|   Finance|       4200|
|        IT|       4700|
+----------+-----------+

In [ ]:
window_spec = Window.partitionBy('Department').orderBy('Salary').rowsBetween(Window.unboundedPreceding,0)
df.withColumn('Cummulative Salary' ,sum('Salary').over(window_spec)).show()

+-----+------+----------+------+------------------+
|EmpID|  Name|Department|Salary|Cummulative Salary|
+-----+------+----------+------+------------------+
|    4| Alice|   Finance|  3800|              3800|
|    2|  Jane|   Finance|  4000|              7800|
|    7| Jerry|   Finance|  4200|             12000|
|    5|   Bob|        IT|  4500|              4500|
|   10|Rachel|        IT|  4600|              9100|
|    8|   Sam|        IT|  4700|             13800|
|    1|  John|     Sales|  3000|              3000|
|    9| Steve|     Sales|  3100|              6100|
|    3|  Mike|     Sales|  3500|              9600|
|    6|   Tom|     Sales|  3700|             13300|
+-----+------+----------+------+------------------+

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("AdvancedOps").getOrCreate()

data = [
    (1, "Alice", 2000, ["math", "science"], {"city": "NYC", "zip": "10001"}),
    (2, "Bob", 1500, ["english"], {"city": "SF", "zip": "94105"}),
    (3, "Charlie", 2200, ["math", "history", "science"], {"city": "NYC", "zip": "10001"}),
    (4, "David", 1200, ["art"], {"city": "LA", "zip": "90001"}),
]

df = spark.createDataFrame(data, schema=["id", "name", "salary", "subjects", "address"])
df.show(truncate=False)

+---+-------+------+------------------------+---------------------------+
|id |name   |salary|subjects                |address                    |
+---+-------+------+------------------------+---------------------------+
|1  |Alice  |2000  |[math, science]         |{zip -> 10001, city -> NYC}|
|2  |Bob    |1500  |[english]               |{zip -> 94105, city -> SF} |
|3  |Charlie|2200  |[math, history, science]|{zip -> 10001, city -> NYC}|
|4  |David  |1200  |[art]                   |{zip -> 90001, city -> LA} |
+---+-------+------+------------------------+---------------------------+

In [ ]:
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import udf

@udf(IntegerType())
def subject_count(subjects):
    return len(subjects)

df.withColumn('Subject Count',subject_count(df.subjects)).show()

+---+-------+------+--------------------+--------------------+-------------+
| id|   name|salary|            subjects|             address|Subject Count|
+---+-------+------+--------------------+--------------------+-------------+
|  1|  Alice|  2000|     [math, science]|{zip -> 10001, ci...|            2|
|  2|    Bob|  1500|           [english]|{zip -> 94105, ci...|            1|
|  3|Charlie|  2200|[math, history, s...|{zip -> 10001, ci...|            3|
|  4|  David|  1200|               [art]|{zip -> 90001, ci...|            1|
+---+-------+------+--------------------+--------------------+-------------+

In [ ]:
import pandas as pd
from pyspark.sql.functions import pandas_udf
from pyspark.sql.types import DoubleType

@pandas_udf(DoubleType())
def multiply_by_two(s: pd.Series) -> pd.Series:
    return s * 2
df.withColumn('Double_Salary',multiply_by_two(df.salary)).show()

+---+-------+------+--------------------+--------------------+-------------+
| id|   name|salary|            subjects|             address|Double_Salary|
+---+-------+------+--------------------+--------------------+-------------+
|  1|  Alice|  2000|     [math, science]|{zip -> 10001, ci...|       4000.0|
|  2|    Bob|  1500|           [english]|{zip -> 94105, ci...|       3000.0|
|  3|Charlie|  2200|[math, history, s...|{zip -> 10001, ci...|       4400.0|
|  4|  David|  1200|               [art]|{zip -> 90001, ci...|       2400.0|
+---+-------+------+--------------------+--------------------+-------------+

In [ ]:
spark = SparkSession.builder \
    .appName("PySpark Use Case Activities") \
    .getOrCreate()

from pyspark.sql.functions import col, rank, avg, udf, pandas_udf
from pyspark.sql.window import Window
import pandas as pd

employees_data = [
    (1, "Alice", "HR", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500),
    (4, "David", "IT", 4500),
    (5, "Eve", "Finance", 5000),
    (6, "Frank", "Finance", 4800),
]

employees_df = spark.createDataFrame(employees_data, ["id", "name", "department", "salary"])
employees_df.show()

departments_data = [
    ("HR", "New York"),
    ("IT", "San Francisco"),
    ("Finance", "Chicago"),
]

departments_df = spark.createDataFrame(departments_data, ["department", "location"])
departments_df.show()

+---+-----+----------+------+
| id| name|department|salary|
+---+-----+----------+------+
|  1|Alice|        HR|  3000|
|  2|  Bob|        IT|  4000|
|  3|Cathy|        HR|  3500|
|  4|David|        IT|  4500|
|  5|  Eve|   Finance|  5000|
|  6|Frank|   Finance|  4800|
+---+-----+----------+------+

+----------+-------------+
|department|     location|
+----------+-------------+
|        HR|     New York|
|        IT|San Francisco|
|   Finance|      Chicago|
+----------+-------------+

In [ ]:
window_spec = Window.partitionBy("department").orderBy("salary")
employees_df.withColumn("rank", rank().over(window_spec)).show()

+---+-----+----------+------+----+
| id| name|department|salary|rank|
+---+-----+----------+------+----+
|  6|Frank|   Finance|  4800|   1|
|  5|  Eve|   Finance|  5000|   2|
|  1|Alice|        HR|  3000|   1|
|  3|Cathy|        HR|  3500|   2|
|  2|  Bob|        IT|  4000|   1|
|  4|David|        IT|  4500|   2|
+---+-----+----------+------+----+

In [ ]:
window_spec = Window.partitionBy('department')
employees_df.withColumn('Average salary', avg('salary').over(window_spec)).show()

employees_df.groupBy('department').avg('salary').show()

+---+-----+----------+------+--------------+
| id| name|department|salary|Average salary|
+---+-----+----------+------+--------------+
|  5|  Eve|   Finance|  5000|        4900.0|
|  6|Frank|   Finance|  4800|        4900.0|
|  1|Alice|        HR|  3000|        3250.0|
|  3|Cathy|        HR|  3500|        3250.0|
|  2|  Bob|        IT|  4000|        4250.0|
|  4|David|        IT|  4500|        4250.0|
+---+-----+----------+------+--------------+

+----------+-----------+
|department|avg(salary)|
+----------+-----------+
|        HR|     3250.0|
|        IT|     4250.0|
|   Finance|     4900.0|
+----------+-----------+

# Advanced Ops

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode

spark = SparkSession.builder.appName("AdvancedOps").getOrCreate()

data = [
    ("John", ["Python", "Java"]),
    ("Jane", ["SQL", "R", "Scala"]),
    ("Mike", [])
]
columns = ["Name", "Skills"]

df = spark.createDataFrame(data, columns)
df.show(truncate=False)

+----+---------------+
|Name|Skills         |
+----+---------------+
|John|[Python, Java] |
|Jane|[SQL, R, Scala]|
|Mike|[]             |
+----+---------------+

In [ ]:
df_exploded = df.withColumn('Skill' , explode('Skills'))
df_exploded.show()

+----+---------------+------+
|Name|         Skills| Skill|
+----+---------------+------+
|John| [Python, Java]|Python|
|John| [Python, Java]|  Java|
|Jane|[SQL, R, Scala]|   SQL|
|Jane|[SQL, R, Scala]|     R|
|Jane|[SQL, R, Scala]| Scala|
+----+---------------+------+

In [ ]:
df.createOrReplaceTempView('people')
df_lateral = spark.sql("SELECT Name,Skill FROM people lateral view explode(Skills) as Skill")
df_lateral.show()

+----+------+
|Name| Skill|
+----+------+
|John|Python|
|John|  Java|
|Jane|   SQL|
|Jane|     R|
|Jane| Scala|
+----+------+

In [ ]:
data = [
    ("ProductA", "Jan", 100),
    ("ProductA", "Feb", 150),
    ("ProductA", "Mar", 120),
    ("ProductB", "Jan", 200),
    ("ProductB", "Feb", 230),
    ("ProductB", "Mar", 210),
]
columns = ["Product", "Month", "Sales"]

df = spark.createDataFrame(data, columns)
df.show()

+--------+-----+-----+
| Product|Month|Sales|
+--------+-----+-----+
|ProductA|  Jan|  100|
|ProductA|  Feb|  150|
|ProductA|  Mar|  120|
|ProductB|  Jan|  200|
|ProductB|  Feb|  230|
|ProductB|  Mar|  210|
+--------+-----+-----+

In [ ]:
pivot_df = df.groupBy("Product").pivot("Month").sum("Sales")
pivot_df.show()

+--------+---+---+---+
| Product|Feb|Jan|Mar|
+--------+---+---+---+
|ProductB|230|200|210|
|ProductA|150|100|120|
+--------+---+---+---+

In [ ]:
unpivot_df = pivot_df.selectExpr(
    "Product",
    "stack(3,'Jan',Jan,'Mar',Mar,'Feb',Feb) as (Month,Sales)"
)
unpivot_df.show()

+--------+-----+-----+
| Product|Month|Sales|
+--------+-----+-----+
|ProductB|  Jan|  200|
|ProductB|  Mar|  210|
|ProductB|  Feb|  230|
|ProductA|  Jan|  100|
|ProductA|  Mar|  120|
|ProductA|  Feb|  150|
+--------+-----+-----+

# RDD Resilient Distributed Dataset

In [ ]:
from pyspark import SparkContext, SparkConf

conf = SparkConf().setAppName('MySparkApp').setMaster('local[*]')
sc = SparkContext(conf = conf)

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=MySparkApp, master=local[*]) created by __init__ at /tmp/ipython-input-4-1978198528.py:1

In [ ]:

rdd = sc.parallelize([1,2,3,4,5])
# Transformation: Map
rdd_mapped = rdd.map(lambda x:x*2)

print(rdd_mapped.collect()) #output: 2,4,6,8,10

rdd_filtered = rdd.filter(lambda x:x%2 == 0)
print(rdd_filtered.collect())

#rdd_reduce = rdd.reduce(lambda x,y:x+y)
#print(rdd_reduce.collect())

rdd = sc.parallelize([1,2,3])

rdd_flat = rdd.flatMap(lambda x: range(x,x+3))

#collect the result
print(rdd_flat.collect())

rdd = sc.parallelize(['Hello','world'])

rdd_flat = rdd.flatMap(lambda x: list(x))

print(rdd_flat.collect())

rdd = sc.parallelize([[1,2],[3,4],[5]])

rdd_flat = rdd.flatMap(lambda x:x)

print(rdd_flat.collect())

rdd = sc.parallelize([1,2,3,4,5])
rdd_group = rdd.groupBy(lambda x: 'even' if x % 2 == 0 else 'odd')

print([(key, list(value)) for key, value in rdd_group.collect()])

[2, 4, 6, 8, 10]
[2, 4]
[1, 2, 3, 2, 3, 4, 3, 4, 5]
['H', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3, 4, 5]
[('even', [2, 4]), ('odd', [1, 3, 5])]

In [ ]:
data = [
    (1, "John", "HR", 5000),
    (2, "Jane", "IT", 8000),
    (3, "Mike", "IT", 6000),
    (4, "Sara", "Finance", 7000),
    (5, "David", "HR", 5500)
]

from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("DataFrameOperations").getOrCreate()

# Define column names
columns = ["ID", "Name", "Department", "Salary"]

# Create a DataFrame from the sample data
df = spark.createDataFrame(data, columns)

# Show the DataFrame
df.show()

+---+-----+----------+------+
| ID| Name|Department|Salary|
+---+-----+----------+------+
|  1| John|        HR|  5000|
|  2| Jane|        IT|  8000|
|  3| Mike|        IT|  6000|
|  4| Sara|   Finance|  7000|
|  5|David|        HR|  5500|
+---+-----+----------+------+

In [ ]:
df.select('Name','Salary').show()

+-----+------+
| Name|Salary|
+-----+------+
| John|  5000|
| Jane|  8000|
| Mike|  6000|
| Sara|  7000|
|David|  5500|
+-----+------+

In [ ]:
df.filter(df['Salary']>=6000).show()

+---+----+----------+------+
| ID|Name|Department|Salary|
+---+----+----------+------+
|  2|Jane|        IT|  8000|
|  3|Mike|        IT|  6000|
|  4|Sara|   Finance|  7000|
+---+----+----------+------+

In [ ]:
df = df.withColumn('Bonus' , df['Salary']*0.1)
df.show()

+---+-----+----------+------+-----+
| ID| Name|Department|Salary|Bonus|
+---+-----+----------+------+-----+
|  1| John|        HR|  5000|500.0|
|  2| Jane|        IT|  8000|800.0|
|  3| Mike|        IT|  6000|600.0|
|  4| Sara|   Finance|  7000|700.0|
|  5|David|        HR|  5500|550.0|
+---+-----+----------+------+-----+

In [ ]:
df = df.drop('Bonus')
df.show()

+---+-----+----------+------+
| ID| Name|Department|Salary|
+---+-----+----------+------+
|  1| John|        HR|  5000|
|  2| Jane|        IT|  8000|
|  3| Mike|        IT|  6000|
|  4| Sara|   Finance|  7000|
|  5|David|        HR|  5500|
+---+-----+----------+------+

In [ ]:
from pyspark.sql.functions import avg
df.groupBy("Department").agg(avg("Salary").alias('Avg-Salary')).show()

+----------+----------+
|Department|Avg-Salary|
+----------+----------+
|        HR|    5250.0|
|        IT|    7000.0|
|   Finance|    7000.0|
+----------+----------+

In [ ]:
df.groupBy("Department").count().show()

+----------+-----+
|Department|count|
+----------+-----+
|        HR|    2|
|        IT|    2|
|   Finance|    1|
+----------+-----+

In [ ]:
df.withColumnRenamed('Salary','Salary_After_Tax').show()

+---+-----+----------+----------------+
| ID| Name|Department|Salary_After_Tax|
+---+-----+----------+----------------+
|  1| John|        HR|            5000|
|  2| Jane|        IT|            8000|
|  3| Mike|        IT|            6000|
|  4| Sara|   Finance|            7000|
|  5|David|        HR|            5500|
+---+-----+----------+----------------+

In [ ]:
df.sort(df['Salary'].desc()).show(3)

+---+----+----------+------+
| ID|Name|Department|Salary|
+---+----+----------+------+
|  2|Jane|        IT|  8000|
|  4|Sara|   Finance|  7000|
|  3|Mike|        IT|  6000|
+---+----+----------+------+
only showing top 3 rows

In [ ]:
data_list = df.collect()
for row in data_list:
  print(row.Name)

John
Jane
Mike
Sara
David

# DATASET

In [ ]:
from pyspark.sql import Row
from pyspark import SparkContext, SparkConf

# Initialize SparkConf and SparkContext
# conf = SparkConf().setAppName("MySparkApp").setMaster("local[*]")
# sc = SparkContext(conf=conf)

from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder.appName("DataFrameOperations").getOrCreate()

#sc = spark.SparkContext

rdd = sc.parallelize([Row(name="Alice", age=25), Row(name="Bob", age=30)])
dataset = spark.createDataFrame(rdd)
dataset.filter(dataset.age > 25)
dataset.select("name").show()

+-----+
| name|
+-----+
|Alice|
|  Bob|
+-----+

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkSQLBasics").getOrCreate()

data = [
    (1, "Alice", "Sales", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500),
    (4, "David", "Sales", 4500),
    (5, "Eva", "IT", 4200)
]
columns = ["EmpID", "Name", "Department", "Salary"]

df = spark.createDataFrame(data, columns)
df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
|    4|David|     Sales|  4500|
|    5|  Eva|        IT|  4200|
+-----+-----+----------+------+

In [ ]:
rdd = df.rdd
print("RDD Example:", rdd.map(lambda x: (x.Name,x.Salary)).collect())

RDD Example: [('Alice', 3000), ('Bob', 4000), ('Cathy', 3500), ('David', 4500), ('Eva', 4200)]

# JSON ans CSV

In [ ]:
data = [
    (1, "Alice", "Sales", 3000),
    (2, "Bob", "IT", 4000),
    (3, "Cathy", "HR", 3500)
]
columns = ["EmpID", "Name", "Department", "Salary"]
df = spark.createDataFrame(data, columns)
df.show()

+-----+-----+----------+------+
|EmpID| Name|Department|Salary|
+-----+-----+----------+------+
|    1|Alice|     Sales|  3000|
|    2|  Bob|        IT|  4000|
|    3|Cathy|        HR|  3500|
+-----+-----+----------+------+

In [ ]:
df.write.mode("overwrite").json("/content/json_data")

In [ ]:
! ls /content/json_data/

part-00000-765914e2-8fdc-4ee5-bab7-ba226c522d88-c000.json  _SUCCESS
part-00001-765914e2-8fdc-4ee5-bab7-ba226c522d88-c000.json

In [ ]:
!cat /content/json_data/part-00000-765914e2-8fdc-4ee5-bab7-ba226c522d88-c000.json

{"EmpID":1,"Name":"Alice","Department":"Sales","Salary":3000}

In [ ]:
strPath = "/content/csv_data"
df.write.mode('overwrite').option('header','true').csv(strPath)

In [ ]:
!ls /content/csv_data/

part-00000-ddae1ff3-98bd-43ec-8f7a-2bc8f2c36455-c000.csv  _SUCCESS
part-00001-ddae1ff3-98bd-43ec-8f7a-2bc8f2c36455-c000.csv

In [ ]:
!cat /content/csv_data/part-00000-ddae1ff3-98bd-43ec-8f7a-2bc8f2c36455-c000.csv

EmpID,Name,Department,Salary
1,Alice,Sales,3000

# Spark Streaming

In [ ]:
import random
import csv

# Generate 30 records with random data
names = ["John", "Jane", "Mike", "Sara", "David", "Emily", "George", "Nina", "Tom", "Anna"]
departments = ["Sales", "IT", "HR", "Finance", "Marketing"]
salaries = [3000, 4000, 5000, 6000, 7000, 8000, 9000, 10000]

# Create and open a CSV file for writing
with open('employee_data.csv', mode='w', newline='') as file:
    writer = csv.writer(file)

    # Write the header
    writer.writerow(["ID", "Name", "Department", "Salary"])

    # Write the 30 records
    for i in range(1, 31):
        name = random.choice(names)
        department = random.choice(departments)
        salary = random.choice(salaries)
        writer.writerow([i, name, department, salary])

print("CSV file 'employee_data.csv' has been generated successfully.")

CSV file 'employee_data.csv' has been generated successfully.

In [ ]:
cat /content/employee_data.csv

ID,Name,Department,Salary
1,George,Finance,8000
2,Tom,IT,10000
3,Nina,HR,6000
4,Jane,Marketing,9000
5,Nina,Sales,10000
6,Mike,Marketing,7000
7,Anna,IT,7000
8,John,HR,6000
9,Tom,Marketing,4000
10,Emily,IT,6000
11,Mike,Sales,5000
12,David,IT,7000
13,Mike,IT,6000
14,George,Marketing,4000
15,Nina,Sales,10000
16,John,Marketing,6000
17,Anna,Sales,4000
18,George,Sales,6000
19,Anna,Marketing,4000
20,Sara,Finance,10000
21,John,Marketing,3000
22,Jane,HR,5000
23,Nina,Marketing,10000
24,John,Sales,4000
25,Emily,IT,4000
26,Nina,Sales,3000
27,Sara,HR,6000
28,Tom,HR,8000
29,Anna,IT,9000
30,Sara,IT,4000

In [ ]:
mkdir /content/emp_data

In [ ]:
! mv /content/employee_data.csv /content/emp_data/

In [ ]:
from pyspark.sql.types import StructType, IntegerType, StringType

schema = StructType() \
  .add("EmpID", IntegerType()) \
  .add("Name", StringType()) \
  .add("Department", StringType()) \
  .add("Salary", IntegerType())

print(schema)

StructType([StructField('EmpID', IntegerType(), True), StructField('Name', StringType(), True), StructField('Department', StringType(), True), StructField('Salary', IntegerType(), True)])

In [ ]:
stream_df = spark.readStream \
  .option("sep", ",") \
  .schema(schema) \
  .csv("/content/emp_data/")

In [ ]:
from pyspark.sql.functions import upper
transformed_df = stream_df.withColumn("NameUPPER",upper("Name"))

In [ ]:
query = transformed_df.writeStream \
  .outputMode("append") \
  .format("console") \
  .start()

In [ ]:
query.stop()

In [ ]:
%%bash
cat <<EOF > /content/emp_data/employee_data2.csv
1,John,Sales,3000
2,Jane,IT,4000
3,Mike,Sales,5000
4,Sara,Finance,6000
5,David,HR,7000
6,Emily,Marketing,6000
7,George,HR,4000
8,Nina,Sales,5000
9,Tom,IT,8000
10,Anna,Marketing,3000
EOF

In [ ]:
%%bash
cat <<EOF > /content/emp_data/employee_data3.csv
11,John,IT,7000
12,Jane,HR,4000
13,Mike,Finance,5000
14,Sara,Sales,6000
15,David,Marketing,7000
16,Emily,Sales,8000
17,George,Finance,3000
18,Nina,IT,6000
19,Tom,Sales,4000
20,Anna,HR,5000
EOF

In [ ]:
%%bash
cat <<EOF > /content/emp_data/employee_data4.csv
21,John,Finance,7000
22,Jane,Marketing,6000
23,Mike,HR,8000
24,Sara,Sales,3000
25,David,IT,6000
26,Emily,Finance,5000
27,George,Marketing,4000
28,Nina,HR,7000
29,Tom,Finance,5000
30,Anna,IT,8000
EOF

In [ ]:
cat /content/emp_data/employee_data4.csv

21,John,Finance,7000
22,Jane,Marketing,6000
23,Mike,HR,8000
24,Sara,Sales,3000
25,David,IT,6000
26,Emily,Finance,5000
27,George,Marketing,4000
28,Nina,HR,7000
29,Tom,Finance,5000
30,Anna,IT,8000

In [ ]:
query = transformed_df.writeStream \
  .outputMode("append") \
  .format("console") \
  .start()

In [ ]:
pip install faker

Collecting faker
  Downloading faker-37.4.2-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from faker) (2025.2)
Downloading faker-37.4.2-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 58.0 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.4.2

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
from faker import Faker
import random
import uuid
import os
import time
from datetime import datetime

# Initialize Faker
fake = Faker()

# Output directory in Google Drive
output_dir = "/content/drive/MyDrive/employee_batches"
os.makedirs(output_dir, exist_ok=True)

# Infinite loop to keep generating files
while True:
    # Generate unique filename using current time
    timestamp = datetime.now().strftime("%Y%m%d_%H%M%S")
    file_name = f"employee_data_{timestamp}.csv"
    file_path = os.path.join(output_dir, file_name)

    # Write 10 employee records to this file
    with open(file_path, "w") as f:
        f.write("EmpID,Name,Department,Salary,UniqueID\n")  # Header
        for _ in range(10):
            emp_id = random.randint(1000, 9999)
            name = fake.name()
            department = fake.job()
            salary = random.randint(3000, 12000)


            record = f"{emp_id},{name},{department},{salary}\n"
            f.write(record)

    print(f"✅ File saved: {file_name}")

    time.sleep(10)  # Wait 30 seconds before generating the next file

✅ File saved: employee_data_20250730_112944.csv
✅ File saved: employee_data_20250730_112954.csv
✅ File saved: employee_data_20250730_113004.csv
✅ File saved: employee_data_20250730_113014.csv
✅ File saved: employee_data_20250730_113024.csv
✅ File saved: employee_data_20250730_113034.csv
✅ File saved: employee_data_20250730_113044.csv
✅ File saved: employee_data_20250730_113054.csv
✅ File saved: employee_data_20250730_113104.csv
✅ File saved: employee_data_20250730_113114.csv
✅ File saved: employee_data_20250730_113124.csv
✅ File saved: employee_data_20250730_113134.csv
✅ File saved: employee_data_20250730_113144.csv
✅ File saved: employee_data_20250730_113154.csv
✅ File saved: employee_data_20250730_113204.csv
✅ File saved: employee_data_20250730_113214.csv
✅ File saved: employee_data_20250730_113224.csv

KeyboardInterrupt: